<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>django自定义标签</title>
</head>
<body>
<p>欢迎来到django进阶课程-自定义标签  app custom_tags</p>
 法一
{% load poll_tags %}
{% dateAllen '%Y-%m-%d %I:%M %p'%}

{#法二#}
{#{% load poll_tags %}#}
{#{% dateAllen '%Y-%m-%d %I:%M %p'%}#}
{#<p>it is {{ mytime }}</p>#}
{##}
{#法三#}
{#{% load poll_tags %}#}
{#{% dateAllen '%Y-%m-%d %I:%M %p' as allentime %}#}
{#<p>it is {{ allentime}}</p>#}
{##}
{#法四#}
{#{% load poll_tags %}#}
{#{% get_current_time '%Y-%m-%d %I:%M %p' as allentime %}#}
{#<p>it is {{ allentime}}</p>#}
{# 诗词显示#}
{#{% poems_of_author '李白' %}#}


<p>欢迎来到django进阶课程-自定义过滤器 app custom_filter</p>
{# 法一 过滤掉空格 #}
{#{% load poll_filter %}#}
{#{{ 'all en'|cut_filter:' '}}#}

{# 法二 过滤掉空格 #}
{#{% load poll_filter %}#}
{#{{ 'all en'|cut_filter:' '}}#}

{# 大写转小写 #}
{#{% load poll_filter %}#}
{#{{ 'WORLD'|lower }}#}

{# 字符转义 #}
{#{% load poll_filter %}#}
{#{% with '<h1>hello<h1>' as tmpValue %}#}
{#    <p>{{ tmpValue|add:'world' }}</p>#}
{#{% endwith %}#}

<p>欢迎来到django进阶课程-jinja2替换默认模板引擎 app engine_jinja2</p>
{#<div>#}
{#    {% for i in tmpValue %}#}
{#        {% if i == 1 %}#}
{#            {{ i }}#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#</div>#}
{# jinja数字直接运算 #}
{#{{ 1 + 2 }}#}
{##}
{# jinja赋值 #}
{#{% set tmpint = 10 %}#}
{#{{ tmpint }}#}
{##}
{# jinja自定义过滤器 #}
{#{{ 'ABC'|allen_lower }}#}
</body>
</html>